In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Titanic-Dataset.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
data.shape

(891, 12)

In [7]:
data.Survived.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [9]:
data.Survived = data.Survived.astype('category')

In [11]:
data.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [13]:
data.Sex = data.Sex.astype('category')

In [16]:
data.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64